.root {
  border: var(--primary-color) solid 1px;
  border-radius: var(--border-radius);
  background-color: white;
  padding: var(--space-s);
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xs);
  font-size: var(--text-body-s);
}

.avatar {
  width: var(--space-xl);
  height: var(--space-xl);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  max-width: var(--measure-l);
}

.root .source {
  font-size: var(--text-body-xs);
}

.text {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.text .explainer {
  font-size: var(--text-body-s);
}

.root .instruction {
  color: gray;
  font-size: var(--text-body-xs);
}
