.root {
  --node-size: var(--space-m);
  --node-gap: var(--space-4xs);
  --amount: 6;
  --group-width: calc(
    var(--amount) * var(--node-size) + (var(--amount) - 1) * var(--node-gap)
  );

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  margin-bottom: var(--space-2xl);
}

.separator {
  background-color: gray;
  height: 1px;
  width: 100%;
}

.chart {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.chart > p {
  font-size: var(--text-body-s);
}

.groups {
  display: flex;
  gap: var(--space-l);
  flex-wrap: wrap;
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  width: var(--group-width);
}

.group p {
  font-size: var(--text-body-xs);
}

.dots {
  display: flex;
  gap: var(--node-gap);
  flex-wrap: wrap;
}

.claim {
  width: var(--node-size);
  height: var(--node-size);
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.claim img {
  width: 100%;
}

.claim:hover,
.claim.selected {
  transform: scale(1.5);
}

.tooltipContent {
  border: var(--primary-color) solid 1px;
  border-radius: var(--border-radius);
  background-color: white;
  padding: var(--space-s);
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.tooltipContent.small {
  padding: var(--space-4xs);
  border: none;
  border-radius: 0;
  font-size: var(--text-body-xs);
}

.verificationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xs);
  font-size: var(--text-body-s);
}

.tooltipText {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  max-width: var(--measure-l);
}

.tooltipContent .source {
  font-size: var(--text-body-xs);
}

.tooltipText {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.tooltipText .explainer {
  font-size: var(--text-body-s);
}

.tooltipContent .instruction {
  color: gray;
  font-size: var(--text-body-xs);
}

.verificationAvatar {
  width: var(--space-xl);
  height: var(--space-xl);
}

@media (max-width: 400px) {
  .root {
    --amount: 5;
  }
}
