.root {
  width: 100%;
  align-self: stretch;
}

.end {
  background: black;
  height: var(--space-l);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-l);
}
