#root {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  max-width: 20ch;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  align-self: center;
}

.visualizationWrapper {
  width: 100%;
  height: var(--height);
  position: relative;
  margin: 30px 0;
  overflow: hidden;
}

.node {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.node:hover {
  transform: scale(1.5);
  z-index: 1;
}

.tooltipContent {
  width: 500px;
  border: #111 solid 1px;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.verificationTick {
  background-color: var(--fill);
  color: black;
  display: inline-flex;
  align-items: center;
  align-self: end;
  margin-top: -20px;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: var(--transform);
}

.avatar {
  width: 30px;
  height: 30px;
}

.sourceTick {
  display: inline-flex;
  align-items: center;
  align-self: end;
  margin-top: -20px;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: var(--transform);
}

.timeTick {
  display: inline-flex;
  align-items: center;
  align-self: end;
  margin-top: -20px;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: var(--transform);
}
