@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/Merriweather_24pt-Light.ttf");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/Merriweather_24pt-Bold.ttf");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/Merriweather_24pt-Italic.ttf");
}

:root {
  --primary-color: #3a9bdf;
  --emphasis-background: #1c1c1c;

  --space-2xs: 8px;
  --space-xs: 12px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 48px;
  --space-2xl: 64px;
  --space-3xl: 80px;

  --text-title-l: 36px;
  --text-title-m: 24px;
  --text-title-s: 16px;

  --text-body-xl: 24px;
  --text-body-l: 20px;
  --text-body-m: 16px;
  --text-body-s: 14px;
  --text-body-xs: 12px;

  --measure-xs: 8ch;
  --measure-s: 12ch;
  --measure-m: 24ch;
  --measure-l: 36ch;
  --measure-xl: 70ch;
  --measure-2xl: 100ch;

  --border-radius: 3px;

  font-family: "Merriweather", Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

a {
  font-weight: 500;
  color: var(--primary-color);
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:where(p) {
  margin: 0;
}
